In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-05-27 01:51:32,42.60,-73.97,80.01,60,0,3.85
1,1,Punta Arenas,CL,2020-05-27 01:53:40,-53.15,-70.92,42.80,81,40,12.75
2,2,Requena,ES,2020-05-27 01:56:13,39.49,-1.10,57.00,71,0,4.32
3,3,Fortuna,US,2020-05-27 01:56:13,40.60,-124.16,60.01,87,1,14.99
4,4,Finnsnes,NO,2020-05-27 01:54:21,69.23,17.98,44.60,65,100,13.87

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-05-27 01:51:32,42.60,-73.97,80.01,60,0,3.85
6,6,Kapaa,US,2020-05-27 01:56:13,22.08,-159.32,80.60,74,75,11.41
8,8,Mersing,MY,2020-05-27 01:56:13,2.43,103.84,78.80,94,40,2.24
12,12,Rikitea,PF,2020-05-27 01:56:14,-23.12,-134.97,75.81,83,97,17.67
17,17,Butaritari,KI,2020-05-27 01:56:15,3.07,172.79,83.14,68,20,4.09
...,...,...,...,...,...,...,...,...,...,...
542,542,Teahupoo,PF,2020-05-27 01:57:06,-17.83,-149.27,78.80,88,75,5.82
543,543,Lengshuitan,CN,2020-05-27 01:57:07,26.41,111.60,75.83,73,77,1.30
544,544,Pekalongan,ID,2020-05-27 01:56:26,-6.89,109.68,84.63,70,97,2.19
546,546,Aitape,PG,2020-05-27 01:57:07,-3.14,142.35,86.65,69,22,6.11
554,554,Nautla,MX,2020-05-27 01:57:08,20.22,-96.78,81.64,82,79,2.98

In [13]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0         Albany      US     80.01  42.60  -73.97
6          Kapaa      US     80.60  22.08 -159.32
8        Mersing      MY     78.80   2.43  103.84
12       Rikitea      PF     75.81 -23.12 -134.97
17    Butaritari      KI     83.14   3.07  172.79
23        Atuona      PF     81.36  -9.80 -139.03
34  Puerto Ayora      EC     75.00  -0.74  -90.35
35          Auki      SB     87.76  -8.77  160.70
36          Zeya      RU     75.49  53.75  127.27
37    Bhayavadar      IN     82.94  21.85   70.25

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,80.01,42.60,-73.97,
6,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
8,Mersing,MY,78.80,2.43,103.84,Timotel Hotel
12,Rikitea,PF,75.81,-23.12,-134.97,Pension Maro'i
17,Butaritari,KI,83.14,3.07,172.79,Isles Sunset Lodge
...,...,...,...,...,...,...
542,Teahupoo,PF,78.80,-17.83,-149.27,Vanira Lodge
543,Lengshuitan,CN,75.83,26.41,111.60,Jialong Hotel
544,Pekalongan,ID,84.63,-6.89,109.68,Hotel Sahid Mandarin Pekalongan
546,Aitape,PG,86.65,-3.14,142.35,
554,Nautla,MX,81.64,20.22,-96.78,Casa Blanca

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))